@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

html,
body,
section {
  height: 100%;
}

body {
  color: black;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
  font-family: "Questrial", sans-serif;
}

a {
  color: inherit;
}

@media (max-width: 768px) {
  body {
    padding: 0 auto;
    margin: 0 auto;
  }
}

/* ############# Homepage CSS #############*/

.home-page-header {
  padding-top: 0.5em;
  padding-bottom: 1em;
  font-size: 2.5em;
  font-weight: bold;
  background: linear-gradient(to right, #9e315f 9.38%, #f7aec0 88.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-page-image {
  width: 85%;
}

.split-container {
  display: flex;
  padding-right: 1em;
  padding-left: 1em;
}

.hero-image {
  flex: 1;
}

.hero-text {
  flex: 2;
}

.image-text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em 10em;
}

.left-half {
  flex: 1;
  padding: 1rem;
  border-radius: 50%;
}

.left-image {
  width: 100%;
}

.right-half {
  flex: 1;
  padding: 1rem;
}

.right-half-text {
  padding: 1em 3em;
}

.book-host-container {
  display: flex;
  justify-content: center;
  padding: 2em 10em;
}

.text-box {
  padding: 0 0.5em;
  flex: 1 1;
}

.search-link {
  color: #008489;
  text-decoration: none;
}

.book-host-container {
  padding: 1em;
  text-align: left;
}

@media (max-width: 768px) {
  .h1-text {
    padding: 0.5em;
    font-weight: bold;
  }
  .steps-container {
    padding: 0em;
    text-align: left;
  }

  .host-steps {
    text-align: left;
  }

  .image-text-container {
    padding: 0;
  }

  .left-half {
    display: none;
  }

  .right-half {
    text-align: left;
  }

  .right-half-text {
    padding: 0 0.5em;
  }
}
/* ############# HEADER CSS #############*/

header {
  display: flex;
  padding-left: 3em;
  padding-right: 3em;
  font-size: 0.5em;
  border-bottom: 1px solid #f8f8f8;
}

.left-header {
  display: flex;
  margin: auto;
  text-align: left;
  background-color: #fff;
  flex: 1;
  padding: 1rem;
  width: auto;
  align-items: center; /* align vertical */
}

.airbnb-logo {
  display: table-cell;
  line-height: 0;
  width: 5%;
  height: 50%;
  padding-right: 0.6em;
}

.airbnb-header {
  font-size: 2.5em;
  color: #db3842;
  font-weight: bold;
}

.airbnb-home-link,
.airbnb-home-link:visited {
  text-decoration: none;
  color: inherit;
}

.right-header {
  display: block;
  margin: auto;
  text-align: right;
  background-color: #fff;
  flex: 1;
  padding: 1rem;
  width: auto;
  font-size: 0.5em;
}

.header-buttons {
  font-size: 2em;
}

.explore-buttons {
  display: inline;
  padding-right: 1em;
  font-size: 2em;
}

.header-buttons {
  text-decoration: none;
  padding: 0;
  border: none;
  background: none;
  padding-right: 1em;
  font-size: 1.25em;
  color: inherit;
}

.login-register-button {
  text-decoration: none;
  padding: 0;
  border: none;
  background: none;
  font-size: 0.75em;
  color: inherit;
}

.login-page-button {
  text-decoration: none;
  padding: 0;
  border: none;
  background: none;
  font-size: 0.75em;
  color: inherit;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  header {
    display: inline;
  }

  .left-header {
    display: block;
    text-align: center;
    padding: 0em;
  }

  .right-header {
    text-align: center;
    padding: 0em;
  }

  .header-buttons {
    padding: 0 0.25em;
  }

  .airbnb-logo {
    display: inline;
    padding: 0em;
  }

  .explore-buttons {
    padding-right: 0;
  }

  .airbnb-logo {
    width: 20%;
  }

  .airbnb-home-link {
    font-size: 2em;
  }
}

/* ############# LOGIN PAGE CSS #############*/
/* 
.login-page-bot-buttons {
  font-size: 1em;
  padding: auto;
  padding-right: 0.25em;
  color: inherit;
} */

.login-form {
  padding: 2em 0;
}

.login-register-button {
  border: none;
  color: black;
  padding: 12px 35px;
  border-radius: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.5s;
}

.login-page-button {
  border: none;
  padding: 12px 35px;
  border-radius: 20px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.5s;
}

/* ############# REGISTER PAGE CSS #############*/

.register-button {
  border: none;
  background: radial-gradient(
    circle at left,
    #ff385c 0%,
    #e61e4d 27.5%,
    #e31c5f 40%,
    #d70466 57.5%,
    #bd1e59 75%,
    #bd1e59 100%
  );
  padding: 12px 35px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.5s;
}

.register-form {
  padding: 2em 0;
}

.register-bar {
  padding: 1em;
}

.register-bar:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 30%;
  padding-top: 20px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

/* ############# PROPERTIES PAGE CSS #############*/

.city-listings-row {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 2em 0;
}

.city-name {
  text-shadow: white 0px 0px 10px;
}

.cities {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-decoration: none;
  color: inherit;
  padding-left: 0.25em;
  width: 200px;
  height: 200px;
}

.new-york {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-decoration: none;
  color: inherit;
  padding-left: 0.25em;
  width: 350px;
  height: 350px;
  background-image: url("https://images.unsplash.com/photo-1499092346589-b9b6be3e94b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80");
  background-position: center;
  color: white;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.los-angeles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-decoration: none;
  color: inherit;
  padding-left: 0.25em;
  width: 350px;
  height: 350px;
  background-image: url("https://images.unsplash.com/photo-1519417812911-a49db5232c88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-position: center;
  color: white;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.chicago {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-decoration: none;
  color: inherit;
  padding-left: 0.25em;
  width: 350px;
  height: 350px;
  background-image: url("https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1&auto=format&fit=crop&w=1626&q=80");
  background-position: center;
  color: white;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.miami {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-decoration: none;
  color: inherit;
  padding-left: 0.25em;
  width: 350px;
  height: 350px;
  background-image: url("https://images.unsplash.com/photo-1514214246283-d427a95c5d2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1346&q=80");
  background-position: center;
  color: white;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.san-francisco {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-decoration: none;
  color: inherit;
  padding-left: 0.25em;
  width: 350px;
  height: 350px;
  background-image: url("https://images.unsplash.com/photo-1509817312789-ad718caba3b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-position: center;
  color: white;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.houston {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-decoration: none;
  color: inherit;
  padding-left: 0.25em;
  width: 350px;
  height: 350px;
  background-image: url("https://images.unsplash.com/photo-1470082719408-b2843ab5c9ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1791&q=80");
  background-position: center;
  color: white;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.seattle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-decoration: none;
  color: inherit;
  padding-left: 0.25em;
  width: 350px;
  height: 350px;
  background-image: url("https://images.unsplash.com/photo-1469321461812-afeb94496b27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80");
  background-position: center;
  color: white;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.las-vegas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-decoration: none;
  color: inherit;
  padding-left: 0.25em;
  width: 350px;
  height: 350px;
  background-image: url("https://images.unsplash.com/photo-1508768022758-cb7384c00335?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80");
  background-position: center;
  color: white;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.city-name {
  color: inherit;
}

.city-name:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media (max-width: 768px) {
  .city-listings-row {
    display: block;
  }
}

/* ############# PROPERTIES/HOST PAGE CSS #############*/

.host-top-container {
  background-color: #f8f8f8;
  padding-top: 3em;
  padding-bottom: 3em;
}

.why-host-container {
  display: flex;
  padding: 2em 10em;
  text-align: left;
}

.host-airbnb {
  padding-right: 1em;
}

.have-your-back {
  padding-left: 1em;
}

.steps-container {
  display: flex;
  padding: 2em 10em;
  text-align: left;
}

.get-started-button {
  border-radius: 7.5px;
  text-decoration: none;
  color: inherit;
  background-color: #db3842;
  color: #ffffff;
  padding: 1em 2em;
  font-size: 0.75em;
}

.start-hosting-header {
  font-size: 1.5em;
}

.home-interior-image {
  width: 60%;
  height: 25%;
}

.img-div {
  background: linear-gradient(
    to bottom,
    #f8f8f8 0%,
    #f8f8f8 25%,
    #f8f8f8 25%,
    #ffffff 25%,
    #ffffff 100%
  ); /* W3C */

  width: 100%;
  height: 100%;
}
.hosting-description {
  padding-top: 1em;
  padding-left: 15em;
  padding-right: 15em;
}

.host-steps {
  flex: 1 1 0px;
  padding-right: 1em;
  padding-left: 1em;
}

.checkmark {
  width: 20%;
  padding-bottom: 0;
}

.link-start {
  text-decoration: none;
  color: #008489;
}

hr {
  text-align: center;
  width: 10%;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
}

.insurance-container {
  display: flex;
  padding: 2em 10em;
  text-align: left;
}

#checkmark {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: #018489;
  border-radius: 50%;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

#checkmark:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 9px;
  background-color: #fff;
  left: 11px;
  top: 6px;
}

#checkmark:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #fff;
  left: 8px;
  top: 12px;
}

.step-check {
  padding-bottom: 1em;
}

@media (max-width: 768px) {
  .hosting-description {
    padding: 1em 1em;
  }

  .insurance-container {
    padding: 1em;
    display: block;
    text-align: center;
  }

  .why-host-container {
    padding: 1em;
    text-align: center;
    display: block;
  }

  .host-steps-container {
    padding: 1em;
    text-align: center;
    display: block;
  }

  .checkmark {
    width: 10%;
  }
}

/* ############# HOST/START PAGE CSS #############*/

.living-room {
  width: 75%;
  height: 50%;
}

.how-to-container {
  padding: 2em 10em;
}

.form-fillout {
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2em;
}

@media (max-width: 768px) {
  .how-to-container {
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .form-bar {
    text-align: center;
  }
}

/* ############# MENU CSS #############*/

.menu-container {
  display: table;
  padding: 2em 10em;
  width: 100%;
  table-layout: fixed;
  border-top: 1px solid #838383;
  border-top-width: 80%;
}

.menu-options {
  display: table-cell;
  text-align: left;
  padding-left: 1em;
  font-size: 0.75em;
}

@media (max-width: 768px) {
  .menu-container {
    display: none;
  }
}

/* ############# ShowCity CSS #############*/

.property-listings {
  /* display: flex; */
  text-align: center;
}

.address-zipcode {
  display: block;
  text-align: center;
  padding: 0.5em 0.5em;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: 20vw;
  margin: 1em auto;
  background: #efefef;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em;
}

.book-button {
  border: none;
  background: radial-gradient(
    circle at left,
    #ff385c 0%,
    #e61e4d 27.5%,
    #e31c5f 40%,
    #d70466 57.5%,
    #bd1e59 75%,
    #bd1e59 100%
  );
  padding: 12px 35px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.5s;
}

@media (max-width: 768px) {
  .address-zipcode {
    width: 80%;
  }
}

/* ############# Account page CSS #############*/

.information-container {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  padding-top: 3em;
}

.user-listing-container {
  padding: 1em 0;
}

.listings-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0;
}

.account-header {
  font-weight: bold;
}

.information-line {
  border-bottom: 1px solid rgb(235, 235, 235);
  border-bottom-width: 1px;
}

.account-info {
  width: 500px;
}

.account-protection {
  display: block;
  width: 500px;
  height: 350px;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 5em;
  border: 3px solid rgb(235, 235, 235);
}

@media (max-width: 768px) {
  .information-container {
    display: block;
  }

  .account-protection {
    display: none;
  }

  .listings-container {
    display: block;
  }
}

/* ############# FOOTER CSS #############*/

.footer {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-top: 1px solid #f8f8f8;
}

.footer-tags {
  display: table-cell;
  text-align: left;
  padding-left: 1em;
  font-size: 0.75em;
}

.created-by {
  display: table-cell;
  text-align: right;
  padding-right: 1em;
  font-size: 0.75em;
}

@media (max-width: 768px) {
  .footer {
    font-size: 0.65em;
    border-top: 1px solid #838383;
  }
}

@media (max-width: 768px) {
  .steps-container {
    display: block;
    text-align: center;
    padding: 0em;
  }

  .user-listing-container {
    padding: 1em;
  }

  .listings-container {
    width: 0;
    padding: 0.25em;
  }

  .edit-button {
    margin-left: 0;
    background-color: gray;
  }

  .delete-button {
    margin-right: 0;
    background-color: #db3842;
  }
}
